<?xml version="1.0"?>
<config>
	<tabs>
        <TriggeredMessaging_DigitalDataLayer_tab translate="label">
            <label>W3C Digital Data Layer</label>
            <sort_order>100</sort_order>
        </TriggeredMessaging_DigitalDataLayer_tab>
    </tabs>

    <sections>
        <triggeredmessaging_digitaldatalayer_configuration translate="label">
            <label>Configuration</label>
            <tab>TriggeredMessaging_DigitalDataLayer_tab</tab>
            <sort_order>0</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <TriggeredMessaging_DigitalDataLayer_Settings translate="label">
                    <label>Digital Data Layer Configuration</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <TriggeredMessaging_DigitalDataLayer_Enabled translate="label">
                            <label>Enable Digital Data Layer</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <config_path>triggered_messaging/triggered_messaging_digital_data_layer_enabled</config_path>
                            <comment><![CDATA[ See <a href="http://www.w3.org/2013/12/ceddl-201312.pdf" target="_blank">http://www.w3.org/2013/12/ceddl-201312.pdf</a> for the specification. ]]></comment>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </TriggeredMessaging_DigitalDataLayer_Enabled>

                        <TriggeredMessaging_DigitalDataLayer_DebugEnabled translate="label">
                            <label>Enable Debug Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <config_path>triggered_messaging/triggered_messaging_digital_data_layer_debug_enabled</config_path>    
                            <comment><![CDATA[ Outputs more data about the page to the digitalData layer, for debugging purposes. Should be disabled for production use. ]]></comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <TriggeredMessaging_DigitalDataLayer_Enabled>1</TriggeredMessaging_DigitalDataLayer_Enabled>
                            </depends>
                        </TriggeredMessaging_DigitalDataLayer_DebugEnabled>

			            <TriggeredMessaging_DigitalDataLayer_User_GroupEnabled translate="label">
                            <label>Enable User Group Exposure</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <config_path>triggered_messaging/triggered_messaging_digital_data_layer_user_group_enabled</config_path>
                            <comment><![CDATA[ This will expose the user group that any logged in user is a part of. Disable if you require this to be kept private. ]]></comment>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <TriggeredMessaging_DigitalDataLayer_Enabled>1</TriggeredMessaging_DigitalDataLayer_Enabled>
                            </depends>
                        </TriggeredMessaging_DigitalDataLayer_User_GroupEnabled>
                        <TriggeredMessaging_DigitalDataLayer_Attributes_Enabled translate="label">
                            <label>Enable Product Attributes</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>TriggeredMessaging_DigitalDataLayer_Model_System_Config_Source_Productattributes</source_model>
                            <config_path>triggered_messaging/triggered_messaging_digital_data_layer_attributes_enabled</config_path>
                            <comment><![CDATA[ Select the custom product attributes that you would like to expose. NOTE: You must use Shift or Ctrl to select multiple attributes. ]]></comment>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <TriggeredMessaging_DigitalDataLayer_Enabled>1</TriggeredMessaging_DigitalDataLayer_Enabled>
                            </depends>
                        </TriggeredMessaging_DigitalDataLayer_Attributes_Enabled>
						<TriggeredMessaging_DigitalDataLayer_Stock_Enabled translate="label">
                            <label>Enable Stock Exposure</label>
                            <frontend_type>select</frontend_type>
                            <source_model>TriggeredMessaging_DigitalDataLayer_Model_System_Config_Source_Stockexposure</source_model>
                            <config_path>triggered_messaging/triggered_messaging_digital_data_layer_stock_exposure</config_path>
                            <comment><![CDATA[ Optionally expose stock level in the Dgitial Data Layer. ]]></comment>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <TriggeredMessaging_DigitalDataLayer_Enabled>1</TriggeredMessaging_DigitalDataLayer_Enabled>
                            </depends>
                        </TriggeredMessaging_DigitalDataLayer_Stock_Enabled>
						<TriggeredMessaging_DigitalDataLayer_Prod_List_Enabled translate="label">
                            <label>Limit Products Exposed On Product List</label>
                            <frontend_type>text</frontend_type>
                            <config_path>triggered_messaging/triggered_messaging_digital_data_layer_prod_list_exposure</config_path>
                            <comment><![CDATA[ Set an optional limit for products exposed on a product list page. Leave blank to expose all products on a product list, or set to 0 to disable Product exposure on list pages. ]]></comment>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <TriggeredMessaging_DigitalDataLayer_Enabled>1</TriggeredMessaging_DigitalDataLayer_Enabled>
                            </depends>
                        </TriggeredMessaging_DigitalDataLayer_Prod_List_Enabled>
                    </fields>
                    <expanded>1</expanded>
                </TriggeredMessaging_DigitalDataLayer_Settings>

                <TriggeredMessaging_Script_Settings translate="label">
                    <label>Fresh Relevance Script Configuration (Optional)</label>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <TriggeredMessaging_Script_Enabled translate="label">
                            <label>Enable Script</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <config_path>triggered_messaging/triggered_messaging_script_enabled</config_path>
                            <comment><![CDATA[ <a href="http://www.freshrelevance.com/supported-ecommerce-platforms/magento?utm_campaign=magento_plugin&utm_medium=web&utm_source=magento" target="_blank">More information on Fresh Relevance and Magento</a>. ]]></comment>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </TriggeredMessaging_Script_Enabled>

                        <TriggeredMessaging_Website_Id translate="label">
                            <label>Website ID</label>
                            <frontend_type>text</frontend_type>
                            <config_path>triggered_messaging/triggered_messaging_website_id</config_path>
                            <comment><![CDATA[ You can find your Website ID within your <a href="https://admin.freshrelevance.com/" target="_blank">Fresh Relevance admin area</a>. ]]>
                            </comment>
                            <validate>validate-alphanum</validate>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <TriggeredMessaging_Script_Enabled>1</TriggeredMessaging_Script_Enabled>
                            </depends>
                        </TriggeredMessaging_Website_Id>
                    </fields>
                    <expanded>1</expanded>
               </TriggeredMessaging_Script_Settings>
            </groups>
        </triggeredmessaging_digitaldatalayer_configuration>

        <triggeredmessaging_digitaldatalayer_support translate="label">
            <label>Support</label>
            <tab>TriggeredMessaging_DigitalDataLayer_tab</tab>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <TriggeredMessaging_Info_Support translate="label">
                    <label>Support Details</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <TriggeredMessaging_Info_Support_Extension translate="label">
                            <label>Plugin Support</label>
                            <frontend_type>label</frontend_type>
                            <comment><![CDATA[ For issues with the extension, create an issue in the github repository: <a href="https://github.com/TriggeredMessaging/digitalDataMagentoExtension/issues" target="_blank">TriggeredMessaging/digitalDataMagentoExtension</a> ]]></comment>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </TriggeredMessaging_Info_Support_Extension>
                        <TriggeredMessaging_Info_Support_Script translate="label">
                            <label>Fresh Relevance Support</label>
                            <frontend_type>label</frontend_type>
                            <comment><![CDATA[ For issues with the Fresh Relevance functionality, contact support: <a href="mailto:hello@freshrelevance.com?Subject=Magento%20Extension%20Support%20Request" target="_blank">hello@freshrelevance.com</a> ]]></comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </TriggeredMessaging_Info_Support_Script>
                    </fields>
                    <expanded>1</expanded>
                </TriggeredMessaging_Info_Support>
                   
                <TriggeredMessaging_Info_Testing translate="label">
                    <label>Testing</label>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <TriggeredMessaging_Info_Testing_Note translate="label">
                            <label>Testing</label>
                            <frontend_type>label</frontend_type>
                            <comment><![CDATA[ You can test that your store is exposing the correct data by entering your URL at <a href="http://digitaldatavalidator.com/" target="_blank">digitalDataValidator.com</a> ]]></comment>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </TriggeredMessaging_Info_Testing_Note>
                    </fields>
                    <expanded>1</expanded>
                </TriggeredMessaging_Info_Testing>
            </groups>
        </triggeredmessaging_digitaldatalayer_support>
    </sections>
</config>
